<ids-text>main page--- after clicking below button i am calling ids-message api and sending app-popup component to message as markup, which is not working as we cannot see app-popup component in ids-message popup.</ids-text>
<ids-button id="test-button-icon-primary" (click)="onClickButton()" appearance="primary">
    <ids-icon icon="folder"></ids-icon>
    <span>Button label</span>
  </ids-button>


<ids-text>when i am importing compoment and placing in html its working fine as you can see -> <app-popup></app-popup></ids-text>
  
